.app {
  text-align: center;
}

.board {
  display: grid;
  grid-template-columns: repeat(8, 80px);
  grid-template-rows: repeat(8, 80px);
  width: 640px;
  margin: 20px auto;
}

.square {
  width: 80px;
  height: 80px;
}

.light {
  background-color: #ffff00;
}

.dark {
  background-color: #ff69C4;
}